* {
    margin: 0;
    padding: 0;
    transition: all 0.1s linear;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    
}


.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input, .input-group textarea, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.review-list {
    margin-top: 20px;
}

.review {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.review .review-content {
    max-width: 500px;
}

.review .content h3 {
    margin: 0;
    font-size: 18px;
    color: cornflowerblue;
}

.review .review-content .rating {
    color: #ffcc00;
}

.-review .review-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.review .review-content small {
    display: block;
    color: #888;
}