@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3a393d;
    --exDark: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/src/images/banner-bg.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/* design */
.design{
    padding: 4.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    margin: 2rem 0;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.design-img{
    position: relative;
    overflow: hidden;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition:  all 0.5s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design-title a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}

/* blog */
.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content{
    margin: 2rem 0;
}
.blog-img{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background: var(--dark);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog-text a:hover{
    background: var(--exDark);
}

/* about */
.about{
    padding: 4.5rem 0;
}
.about-text{
    margin: 2rem 0;
}
.about-text > p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}

/* footer */
footer{
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}

/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}
.blog-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .blog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .blog-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .blog-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .blog-img {
    position: relative;
    overflow: hidden;
  }
  
  .blog-img img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .blog-img span {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 50%;
  }
  
  .blog-text {
    padding: 15px;
  }
  
  .blog-text h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .blog-text p {
    font-size: 14px;
    color: #555;
  }
  
  .blog-text a {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .blog-text a:hover {
    text-decoration: underline;
  }
  
  .title h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .title p {
    font-size: 16px;
    text-align: center;
    color: #666;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .blog-content {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  
    .blog-text h2 {
      font-size: 16px;
    }
  
    .blog-text p {
      font-size: 13px;
    }
  }
  /* Modal styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.design-title a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    position: relative;
  }
  
  .design-title a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff5733; /* Highlight color */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .design-title a:hover::before {
    visibility: visible;
    width: 100%;
  }
  
  .design-title a:hover {
    color: #ff5733;
    transform: scale(1.1); /* Zoom effect */
    letter-spacing: 1px;
  }

  .blog-text {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.4s ease;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Initial box-shadow */
  }
  
  .blog-text:hover {
    background-color: #ffecb3; /* Change background on hover */
    transform: translateY(-10px); /* Lift effect on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Increase shadow */
  }
  
  .blog-text h2 {
    transition: color 0.3s ease;
    font-size: 22px;
  }
  
  .blog-text:hover h2 {
    color: #ff6f61; /* Text color change on hover */
  }
  
  .blog-text p {
    transition: opacity 0.3s ease;
  }
  
  .blog-text:hover p {
    opacity: 0.8; /* Slight fade effect on hover */
  }
  